@media (min-width: 32.5em){
header{
    max-width:100%;
    display: flex;
    padding:0.5em;
}
h1{
 text-align: center;
 flex: 1;

}

img{
    max-width: 250px;
    flex:1;
}
h2{
    text-align: center;
}
footer{
    max-width:100%;
    padding: 0.5em;
}
ul{
    list-style-type: square;
    font-size: 24px;
}
body{
    max-width: 800px;
    margin: 0 auto;
}
}