h1,h2{
    font-family: Helvetica;
    color: black;
    text-shadow:1px 1px 1px rgb(32, 32, 32);
}

header{
    box-shadow: 1px 1px 4px 1px rgb(80, 79, 79);
    border-radius: 10px;
    background-color: rgb(34, 34, 165);
}
.header{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
img{
    max-width: 250px;
    grid-column: 1/2;
}

#name{
    color: white;
    grid-column: 2/3;
}