@media (min-width: 32.5em){
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    color:whitesmoke;
    padding: 1em;
    text-align: center;
}
p{
    padding: 0.5em;
    color:black;
    font-family: 'Montserrat', sans-serif;  
}
img{
    max-width: 100%;
}
a{
    color:rgb(0, 0, 248);
}
.introduction{
    background-color: rgb(20, 20, 66);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.examples{
    border-radius: 25px;
    color:rgb(0, 0, 0);
    background-color:  rgb(173, 173, 187);
    text-align: center;
    padding:0.5em;
    display:grid;
    grid-template-columns: 1fr;
}
#example1{
    grid-column: 1/2;
}
#example2{
    grid-column: 2/3;
}
#example3{
    grid-column: 3/4;
}
.topic-title{
    background-color: rgb(35, 35, 63);
    text-align: center;
}
.companies{
    color: black;
    text-align: center;
}
#topic1{
    grid-column: 1/2;
    grid-row:1;

}
#company1{
    grid-column: 1/2;
    grid-row:2;

}
#company1-img{
    grid-column: 1/2;
    grid-row:3;
}
#topic2{
    grid-column: 1/2;
    grid-row:4;   
}
#company2{
    grid-column: 1/2;
    grid-row:5;

}
#company2-img{
    grid-column: 1/2;
    grid-row:6;
}
#topic3{
    grid-column: 1/2;
    grid-row:7;

}
#company3{
    grid-column: 1/2;
    grid-row:8;

}
#company3-img{
    grid-column: 1/2;
    grid-row:9;
}


footer{
    background-color: rgb(20, 20, 66);
    color: whitesmoke;
    text-align: center;
}
}