
body{
    padding:0;
    margin:0;
    background-color: #FFCDB2;
    font-family:'Poppins', sans-serif;
    font-size: 22px;
}
h1,h2,h3{
    color: #6D6875;
}
p{
    color:#6D6875;
    font-size:22px;
}
div{
    box-shadow: 5px 5px 3px rgb(179, 123, 123);

}
header{
    display:grid;
    grid-template-columns: 20% 25% 30% 25%;
    max-width: 100%;
    grid-gap:10px;
    align-items: center;
    justify-content: center;
    background-color: #E5989B;
}
.logo{box-shadow:0px 0px;
    grid-column: 1/2;
    width: 70px;
    height: auto;
    margin:10px;
}
#title{
    grid-column: 2/3;
    text-align: center;
    font-size: 18px;
}
#social-media-links{
    box-shadow:0px 0px;
    grid-column:4/5;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.social-media{
    width: 40px;
    height: auto;
}
#current-date{
    border: 1px solid rgb(24, 24, 24);
    padding: 0.5em;
    grid-column: 1/5;
    grid-row:2;
    text-align: center;
}
.open{
    display:block;
}
.open li{
    display:block;
}


nav{
    grid-column:3/4;
    background-color: #FFB4A2;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #e56370;
    border-radius: 1px 1px 3px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin:0;
}
nav ul li:first-child {
    display: block;
}
nav ul li {
    display: none;
}
nav ul a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #6D6875;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #E5989B;
    color: whitesmoke;
}

nav ul li.active a{ /*when we are in the li active class*/
    background-color: #B5838D;
    color: rgb(240, 214, 214);
}

nav button{
    margin: .1rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #FFB4A2;
    border-top: 1px solid #B5838D;
}
main{
    margin:auto;
    display:flex;
    flex-direction: column;
    padding: 0.5em;
    max-width:1300px;
}

footer{
    background-color: #B5838D;
    text-align: center;

}
#information{
    padding: .2em;
    display:flex;
    align-items: center;
    justify-content: center;
}
#call-to-action{
    position: relative;
    margin-top:10px;
    background-color:#B5838D;
    color:#f0d6d6;
    text-align: center;
}
#hero-call-to-action img{
    width:100%;
}
#welcome{
    position: absolute;
    text-align: center;
    top:8%;
    left:5%;
    color: black;
    text-shadow: 1px 1px #b0acb6;

}

#event{
    text-align: center;
    margin-top:10px;
    background-color:aliceblue;
    color:#f0d6d6;
    height: 300px;
    
}
#event img{
    max-width:100%;
    max-height: 100%;
}
#weather{
    margin-top:10px;
    text-align: center;
    background-color:#1f567c;
    border: 1px solid #333;
    height: 300px;
    width:100%;
}
#weather p{
    color:aliceblue;
    text-shadow: 1px 1px #6D6875;
    font-size:20px;
}
#weather h3{
    color:aliceblue;
    text-shadow: 1px 1px #6D6875;;
    font-size: 24px;
}
#join{
    text-align: center;
    position: relative;
    margin-top:10px;
    display:none;
}


#news-release{
    position:relative;
    margin-top:10px;
    background-color:#333;
    border: 1px solid #333;
    width:100%;
    align-items: center;
}
#news-release p{
    position: absolute;
    text-align: center;
    top: 10px;
    right: 30px;
    font-size: 30px;
    color: #eee;
    background-color: #E5989B;
    border: 1px solid #B5838D;
}
#news-release img{
    max-width:100%;
    max-height: 100%;
}
#spotlight{
    text-align: center;
    margin-top:10px;
    background-color:#B5838D;
    color:#f0d6d6;
    height: 600px;
    max-width:100%;
}
.spotlights{
    margin: 10px 10px 10px 10px;
    background-color:#E5989B;
    border: 1px solid #333;
    height: 280px;
    width: auto;
}
.spotlights p{
    color:#f0d6d6;
}
#spotlight-3{
    display:none;
}