
body{
    padding:0;
    margin:0;
    background-color: #FFCDB2;
    font-family:'Poppins', sans-serif;
    font-size: 22px;

}
h1,h2,h3{
    color: #6D6875;
}
p{
    color:#6D6875;
    font-size:22px;
}
div{
    box-shadow: 5px 5px 3px rgb(179, 123, 123);
}
img{
    max-width: 100%;
}
header{
    display:grid;
    grid-template-columns: 20% 30% 20% 30%;
    width: 100%;
    grid-gap:0.1em;
    align-items: center;
    justify-content: center;
    background-color: #E5989B;
    position: relative;
    margin: 0;
}
.logo{box-shadow:0px 0px;
    grid-column: 1/2;
    width: 60px;
    height: auto;
    margin:10px;
}
#title{
    grid-column: 2/3;
    text-align: center;
    font-size: 14px;
}
#social-media-links{
    box-shadow:0px 0px;
    grid-column:3/4;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.social-media{
    max-width: 40px;
    height: auto;
}
#current-date{
    border: 1px solid rgb(24, 24, 24);
    padding: 0.5em;
    grid-column: 1/5;
    grid-row:2;
    text-align: center;
}
.open{
    display:block;
}
.open li{
    display:block;
}


nav{
    grid-column:4/5;
    background-color: #FFB4A2;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #e56370;
    border-radius: 1px 1px 3px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin:0;
}
nav ul li:first-child {
    display: block;
}
nav ul li {
    display: none;
}
nav ul a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #6D6875;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #E5989B;
    color: whitesmoke;
}

nav ul li.active a{ /*when we are in the li active class*/
    background-color: #B5838D;
    color: rgb(240, 214, 214);
}

nav button{
    margin: .1rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #FFB4A2;
    border-top: 1px solid #B5838D;
}
#index-main{
    margin:auto;
    display:flex;
    flex-direction: column;
    padding: 0.5em;
    max-width:1300px;
}
#banner{ 
    display: none;
    position: relative;
    background-color: #B5838D;
    width: 100%;
}
#banner p{
    color:#f0d6d6;
    text-align: center;
}
footer{
    background-color: #B5838D;
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;

}
#information{
    padding: .2em;
    display:flex;
    align-items: center;
    justify-content: center;
}
#call-to-action{
    position: relative;
    margin-top:10px;
    background-color:#B5838D;
    color:#f0d6d6;
    text-align: center;
}

#welcome{
    position: absolute;
    text-align: center;
    top:8%;
    left:5%;
    color: black;
    text-shadow: 1px 1px #b0acb6;

}

#event{
    text-align: center;
    margin-top:10px;
    background-color:aliceblue;
    color:#f0d6d6;
    height: 300px;
    
}
#event img{
    max-height: 100%;
}
#weather{
    margin-top:10px;
    text-align: center;
    background-color:#1f567c;
    border: 1px solid #123148;
    height: 300px;
    width:100%;
}
#weather p{
    color:aliceblue;
    text-shadow: 1px 1px #6D6875;
    font-size:20px;
}
#weather h3{
    color:aliceblue;
    text-shadow: 1px 1px #6D6875;;
    font-size: 24px;
}
#join{
    position: relative;
    margin-top:10px;
    display:none;
}
#join p{
    margin-top: 30%;
    font-size: 20px;
    text-align: center;
    padding: 0.3em;
    text-shadow: 2px 1px #555;
}

#join-chamber:hover{
    background-color: #FFB4A2;
    color:#eee;
}
#join-button{
    position: absolute;
    text-align: center;
    top:65%;
    left: 25%;
    background-color: #E5989B;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    color:#f0d6d6;
}
#join-button:hover{
    background-color: #FFB4A2;
    color:#eee;
}

#news-release{
    position:relative;
    margin-top:10px;
    background-color:#333;
    width:100%;
    align-items: center;
}
#news-release p{
    position: absolute;
    text-align: center;
    top: 10px;
    right: 30px;
    font-size: 30px;
    color: #eee;
    background-color: #E5989B;
    border: 1px solid #B5838D;
}
#news-release img{
    max-height: 100%;
}
#spotlight{
    text-align: center;
    margin-top:10px;
    background-color:#B5838D;
    color:#f0d6d6;
    height: 600px;
    max-width:100%;
}
.spotlights{
    margin: 10px 10px 10px 10px;
    background-color:#f0d6d6;
    height: 280px;
    width: auto;
}
.spotlights p{
    color:#333;
    text-shadow: 1px 2px #f0d6d6;
    font-size: 16px;
}

#spotlight-3{
    display:none;
}

#rosario-title{
    text-align: center;
}

#pictures-rosario{
    display:flex;
    flex-flow: column;
    padding: 1em;
    margin: auto;
    width: 1200px;
    box-shadow: none;
}
#pictures-rosario img:hover{
    border-radius: 5px 150px;
}
#pictures-rosario > div{
 box-shadow: none;
}
#main-form{
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 600px;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid #555;
    border-radius: 10px;
    width: 96%;
    max-width: 600px; 
}
form legend{
    color:#B5838D;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top{
    display:block;
    padding-top: 1rem;
    color:#6D6875;
    font-size: .8rem;
}

form label.top input, form label.top select, form #description{
    -webkit-appearance: none;
    display:block;
    font-size: 18px;
    border: solid 1px #555;
    border-radius: 4px;
    padding: .75rem;
    color: #6D6875;
    width: 95%;
    max-width: 600px; 
    background-color: rgba(0,0,0,0.1);
}

form input.submit{
    border: none;
    background-color: #B5838D;
    color: #FFCDB2;
    border-radius: 1rem;
    padding: .75rem 1.75rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 600px; 
}
form label.top input:required{
    border-left: red solid 5px;
}
form label.top input:required:valid{
    border-left: rgb(5, 178, 5) solid 5px;
}
#memberhsips-info{
    display: flex;
    flex-flow: column;
    margin: auto;
    background-color: #E5989B;
    color: #555;
    font-size: 18px;
}

#thanks{
    display: flex;
    flex-flow: column;
    margin: auto;
    padding: 1rem;

}

#directory-main{
    margin: auto;
    max-width: 1400px;
}
#view-options-directory{
    text-align: center;
    display:flex;
    justify-content: center;
    box-shadow: none;
}
#view-options-directory button{
    background-color: #E5989B;
    color:#f0d6d6;
    border: 1px solid #B5838D;
    padding: 0.5em;
}
#view-options-directory button:hover{
    background-color: #B5838D;
}

.directory-contacts{
    background-color: #FFB4A2;
    box-shadow: 0 0 15px rgb(96, 95, 95);
}
.directory-contacts section{
    justify-content: center;
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #f0d6d6;
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.directory-contacts section p{
    color: #333;
    text-align: center;
    
}
.directory-contacts section a{
    color: #333;
    text-align: center;
}
.directory-contacts section a:hover{
    color: #B5838D;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	align-items: center;
}
.grid img{
    display: block;
    max-width: 80%;
}
.list {
	display: flex;
	flex-direction: column;
}
div.list > section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section > h2,p,a{
    font-size: 14px;
    text-align: center;
    overflow-wrap: break-word;
}
.list img{
	display:none; 
    /* I just one to show text, not the picture*/
}
#view-options-directory{
    display: flex;
    width: 100%;
    flex-flow: row;
    padding: 0.5em;
    align-items: center;
}

#visits {
    box-shadow: none;
    text-align: center;
}
#wireframes{
    max-width: 900px;
    margin: auto;
    background-color: #FFB4A2;
    padding: 1.5em;
}
#wireframes div{
    display: flex;
    flex-flow: column;
    background-color: #E5989B;
    padding: 1.5em;
}
#wireframes image{
    max-width: 250px;
}

