@media (min-width:992px){
    body{
        padding:0;
        margin:0;
        background-color: #FFCDB2;
        font-family:'Poppins', sans-serif;;
    }
    h1,h2,h3{
        color: #6D6875;
    }
    p{
        color:#6D6875;
        font-size: 23px;
    }
    body{
        background-color: #FFCDB2;
    }
    header{
        display:flex;
        max-width: 100%;
        padding:0.5em;
        align-items: center;
        justify-content: center;
    }
    header img{
        width: 80px;
        height: auto;
    }
   
    #title{
        grid-column: 2/3;
    }
    nav{
        background-color: #FFB4A2;
        padding: 0.5em;
        display: flex;
        flex-flow: row;
	    align-items: center;
	    justify-content: center;
    }
    nav button{
        display:none;
    }
    nav ul{
        margin-left: 2vw;
        list-style:none;
        font-size: 18px;
   
    }
    nav ul li a{
        border:none;
        padding: 0.8em;
    }
    nav ul li a:hover {
        background-color: #E5989B;
    }
    nav ul li.active a{ /*when we are in the li active class*/
        background-color: #B5838D;
        color: rgb(240, 214, 214);
    }
    footer{
        text-align: center;
        background-color: #B5838D;
        color:rgb(240, 214, 214);
        padding:0.5em;
    }
    main{
        padding:1em;
    }
    img{
        max-width: 50px;
    }
}