@media only screen and (min-width:992px){
    body{
        padding:0;
        margin:0;
        background-color: #FFCDB2;
        font-family:'Poppins', sans-serif;
        font-size: 25px;
    }
    header{
        display:grid;
        grid-template-columns: 15% 70% 15%;
        width: 100%;
        grid-gap: 0.5 em;
        align-items: center;
        justify-content: center;
        background-color: #E5989B;
    }
    p{
        font-size: 28px;
    }

    nav ul li:first-child {
        display: none;
    }
    .logo{
        grid-column: 1/2;
        grid-row:1;
        width: 160px;
        height: auto;
    }
    #title{
        grid-column: 2/3;
        font-size: 28px;
        text-align: ceter;
    }

    #social-media-links{
        grid-column: 3/4;
        display:grid;
    }
    .social-media{
        width: 50px;
        height: auto;
    }
    #current-date{
        grid-row:3;
        width:100%;
        font-size:18px;
        text-align: center;
    }
    nav{
        grid-column: 1/4;
        grid-row:2;
        width:100%;
    }
    nav ul{
        display: flex;
        margin-right: 2vw;
        justify-content: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        padding:0.5em;
        border: none;
        border-left:1px solid #B5838D;
    }

    nav ul li a:hover {
        background-color: #E5989B;
    }

    nav ul li.active a{ /*when we are in the li active class*/
        background-color: #B5838D;
        color: rgb(240, 214, 214);
    }

    main{
        padding:0.5em;
        display:grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 0.3fr 1fr 1fr;
        grid-gap:10px;
    }
    #banner{
        grid-column: 1/4;
        grid-row: 1;
        height: 80px;

    }
    #call-to-action{
        grid-column: 2/3;
        grid-row: 2/4;
        height:auto;
    }
    #event{
        grid-column: 1/2;
        grid-row:2/3;
    }
    #weather{
        grid-column: 1/2;
        grid-row:3/4;
    }
    #join{
        grid-column:1/2;
        grid-row:4/5;
        display: block;
        position: relative;
    }
    #join button{
        font-size: 16px;
        left:30%;
    }

    #news-release{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    #spotlight{
        color:#f0d6d6;
        grid-column:3/4;
        grid-row: 2/5;
        display:grid;
        grid-gap:0.2em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height:auto;
        
    }
    #spotlight-3{
        display:block;
        background-color: #FFFFFF;
        max-width: 100%;
    }

    footer{
        text-align: center;
        background-color: #B5838D;
        color:rgb(240, 214, 214);
        padding:0.5em;
    }
    
    .pictures-rosario{
        display:flex;
        flex-flow: column;
        padding: 1em;
        margin: auto;   
    }
    

}