@media only screen and (min-width:576px){
     header img{
        width: 100px;
        height: auto;
    }
    #title{
        font-size: 24px;
    }
    main{
        display:grid;
        grid-template-columns: 60% 40%;  
        width:100%;
        align-content: center;
        margin:0 auto;
    }
    #call-to-action{
        grid-column: 1/3;
        grid-row: 1;
    }
    #event{
        grid-column: 1/2;
        grid-row:4;
    }
    #weather{
        grid-column: 2/3;
        grid-row:4;
    }
    #new-release{
        grid-column: 1/3;
        grid-row: 2;
    }
    #spotlight{
        grid-column:1/3;
        grid-row: 3;
        display:grid;
        grid-template-columns: 1fr 1fr;
        height:auto;
    }
}