@media only screen and (min-width:576px){
     header img{
        width: 100px;
        height: auto;
    }
    #title{
        font-size: 24px;
    }
    main{
        display:grid;
        grid-template-columns: 60% 40%;  
        width:100%;
        align-content: center;
        margin:10px 10px 10px 10px;
    }
    #call-to-action{
        grid-column: 1/3;
        grid-row: 1;
    }
    #event{
        grid-column: 1/2;
        grid-row:5;
    }
    #weather{
        grid-column: 2/3;
        grid-row:5;
    }
    #news-release{
        grid-column: 1/3;
        grid-row: 2;
    }
    #spotlight{
        grid-column:1/3;
        grid-row: 3;
        display:grid;
        grid-template-columns: 1fr 1fr;
        height:auto;
    }
    #join{
        display: block;
        margin-top: 10px;
        background-color:#eee;
        border: 1px solid #333;
        height: 300px;
        width:100%;
        grid-column:1/3;
        grid-row:4;
    }
    #spotlight-3{
        display:none;
    }
}