body{
    padding:0;
    margin:0;
    background-color: #D4A373;
    font-size: 16px;
    overflow-wrap: break-word;
    font-family: 'Noto sans';
}
h1{
    color: #D4A373;
    padding: 0.5em;
}
h2{
    color: #555555;
    padding: 0.5em;
}
li{
    color: #555555;
}
h3{
    color: #CCD5AE;
    padding: 0.5em;
}
img{
    max-width: 100%;
    height: auto;
}
p{  padding: 0.5em;
    color:#333333;
    font-size:16px;
}
div{
    max-width: 100%;
    padding: 0.7em;
    align-content: center;
    background-color: #FEFAE0;
}
a{  
    text-decoration: none;
    padding: 0.7em;
    font-weight: bold; 
}
a:hover{
    color:#CCD5AE;
}

header{
    display:grid;
    grid-template-columns: 20% 35% 15% 30%;
    width: 100%;
    grid-gap:0.2em;
    align-items:center;
    background-color: #FAEDCD;
}
.logo{
    max-width: 60px;
    padding: 0.3em;
    height: auto;
    grid-column: 1/2;
}
#title-on-main{
    background-color:#D4A373;
    color:#FAEDCD;
    text-align: center;
    font-size: 18px;
    padding:0.7em;
}
#title{
    font-size: 20px;
    grid-column: 2/3;
    padding: 10px;
}
#social-media-links{
    background-color: #FAEDCD;
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.social-media{
    max-width: 30px;
    height: auto;
}
nav{
    grid-column:4/5;
    background-color: #FAEDCD;
    margin: 0 auto;
    padding: 1.2em;
    border: 1px solid #CCD5AE;
    box-shadow: 1px 3px 3px #D4A373;
}
nav ul{
    list-style: none;
    padding: 0;
    margin:0;
}
nav >li{
    float: left;
    text-align:center;
}
nav ul li:first-child {
    display: block;
}

nav ul a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #555555;
    font-size: 17px;
}
nav li a{
    display: block;
    text-decoration: none;
}
nav ul li>a:hover {
    background-color: #D4A373;
    color: whitesmoke;
}
nav ul li.active a{
    background-color: #CCD5AE;
    color: #555555;
}
nav button{
    margin: .1rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #D4A373;
    border-top: 1px solid #555555;
}

/* it is not shown until it is hover */
nav li ul {
    display:none;
    min-width:140px;
    position: absolute;
}
nav li:hover > ul {
    display:block;
}
nav li ul li {
    position:relative;
    background-color: #FAEDCD;
    color: #555555;
}
nav li ul li ul {
    right:-140px;
    top:0px;
}

.open{
    display:block;
}
.open li{
    display:block;
}
#home-main{
    margin: auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em;
    max-width:1200px;
    background-color: #FEFAE0;
}
footer{
    background-color: #D4A373;
    text-align: center;
    width: 100%;
}
#weather{
    height: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid #333333;
}
#weather p{
    font-size: 13px;
}
#current-weather{
    display: flex;
}
#three-days-forecast{
    display: flex;
    flex-flow: row;
    border: 1px solid #333333;
}
#call-to-action{
    position: relative;
}
#call-to-action img{
    width: 100%;}
#reservation-button{
    position: absolute;
    top: 80%;
    left: 30%;
    text-align: center;
    padding: 14px;
    color:#FAEDCD;
    background-color: #D4A373;
    
}
#reservation-button:hover{
    background-color: #CCD5AE;
    color:#D4A373;
}
#temple-info{
    position:relative;
    display: flex;
    justify-content: center;
}
#temple-info p{
    text-align: center;
}
#temple-info img{
    max-width: 300px;
}
#about-us{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #CCD5AE;
}
#about-us img{
    max-width: 100%;
}

#about-temple{
    max-width: 100%;
}
#contact-the-hotel{
    text-align: right;
}
#brief-p{
    position: absolute;
    line-height: 1.2; 
    top: 5%;
    left: 5%;
    background-color: #FAEDCD;
    color: #D4A373;
    width: 200px;
    font-size: 12px;
    padding: 0.5em;
    width: 50%;
}

#contact-button{
    position: absolute;
    top: 65%;
    right:40%;
    text-decoration: none;
    background-color:#D4A373;
    color: #FAEDCD;
    padding: 1em;
}
#contact-button:hover{
    background-color: #CCD5AE;
    color:#D4A373;
}
#services-summary{
    display: flex;
    flex-flow: column;
    position: relative;
    padding-bottom: 40px;
}
#services-button{
    position: absolute;
    top: 86%;
    left: 40%;
    text-align: center;
    padding: 12px;
    background-color:#D4A373;
    color: #FAEDCD;
}
#services-button:hover{
    background-color: #CCD5AE;
    color:#D4A373;
}
#we-count-with{
    font-size: 17px;
    background-color: #D4A373;
    color:#FAEDCD;
    font-weight: bold; 
}
#reservation-main{
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 700px;
    background-color: #FAEDCD;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid #D4A373;
    border-radius: 10px;
    width: 96%;
    max-width: 600px; 
}

form legend{
    color:#D4A373;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label{
    display:block;
    padding-top: 1rem;
    color:#333333;
    font-size: .8rem;
}
form label input, form #comment{
    -webkit-appearance: none;
    display:block;
    font-size: 18px;
    border: solid 1px #D4A373;
    border-radius: 4px;
    padding: .75rem;
    color: #333333;
    width: 95%;
    max-width: 600px; 
    background-color: rgba(0,0,0,0.1);
}
form input.submit{
    border: none;
    background-color:#D4A373;
    color: #FAEDCD;
    border-radius: 1rem;
    padding: .75rem 1.75rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 300px; 
}
form label input:required{
    border-left: red solid 5px;
}
form label input:required:valid{
    border-left: rgb(5, 178, 5) solid 5px;
}
#main-submitted{
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 700px;
    background-color: #CCD5AE;
}
#main-submitted p{
    text-align: center;
}
#how-to-contact-us{
    text-align: center;
    background-color: #D4A373;
}